<nav class="flex-auto flex text-white">
    <div class="flex-auto flex col-span-6">
        <div class="flex-none flex mr-2">
            <img src="/assets/img/logo-ps1-small.png" alt="Logo Primaria Sectorului 1" class="w-14 h-14"/>
        </div>
        <div>
            <a href="/">
            <h1 class="text-2xl font-bold mb-0">Primăria Sectorului 1</h1>
            <h2 class="text-sm italic">Date deschise și transparență decizională</h2>
            </a>
        </div>

    </div>

    <div class="flex md:hidden">
        <!-- TODO Hamburger menu for mobile -->
    </div>

    <div class="col-span-6">
        <nav aria-label="Meniu principal" class="flex flex-wrap items-center justify-between">
            <ul class="flex text-center text-white">
                <li class="mr-2"><a
                            class="block border border-gray-100 items-center h-12 px-4 hover:bg-blue-400"
                            href="/buget">Buget</a></li>
                <li class="mr-2"><a class="block border border-gray-100 items-center h-12 px-4 hover:bg-blue-400"
                                                    href="/seturi">Seturi de date</a></li>
                <li class="mr-2"><a class="block border border-gray-100 items-center h-12 px-4 hover:bg-blue-400"
                                                    href="/achizitii">Achiziții</a></li>
                <li class="mr-2"><a class="block border border-gray-100 items-center h-12 px-4 hover:bg-blue-400"
                                                    href="/mol">Monitorul Oficial Local</a></li>
            </ul>
        </nav>
    </div>
</nav>