    <nav class="flex flex-wrap items-center justify-between w-full text-white">
        <div class="flex h-12">
            <div class="flex-none mr-2">
                <a href="/">
                    <img src="/assets/img/logo-ps1-navbar.png" alt="Logo Primaria Sectorului 1" class="w-12 h-12"/>
                </a>
            </div>
            <div class="hidden sm:inline flex-none h-12">
                <h1 class="text-xl font-bold mb-0">Primăria Sectorului 1</h1>
                <span class="text-sm italic">Date deschise și transparență decizională</span>
            </div>
            <div class="sm:hidden flex-none h-12">
                <h1 class="text-md font-bold mb-0">Primăria Sectorului 1</h1>
                <span class="text-sm italic">Date deschise</span>
            </div>
        </div>

        <div class="lg:hidden flex h-12 items-center">
        <span id="mobile-menu-button" class="h-12 px-4 py-2 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </span>
        </div>

        <div id="navbar-menu" class="hidden w-full lg:flex lg:items-center lg:w-auto">
            <ul class="pt-4 lg:pt-0 text-base font-bold text-lg lg:flex lg:justify-between">
                <li><a class="block h-10 px-6 py-2 hover:underline"
                       href="/buget">Buget</a>
                </li>
                <li><a class="block h-10 px-6 py-2 hover:underline"
                       href="/achizitii">Achiziții</a></li>
                <li><a class="block h-10 px-6 py-2 hover:underline"
                       href="/seturi">Seturi de date</a></li>
                <li><a class="block h-10 pl-6 py-2 hover:underline" href="/mol">Monitorul
                        Oficial Local</a></li>
            </ul>
        </div>
    </nav>


<script>
    const btn = document.querySelector("#mobile-menu-button");
    const menu = document.querySelector("#navbar-menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>