---
title: Portalul de date deschise al Sectorului 1
description: |
    Punct central de acces pentru seturile de date deschise livrate de autoritățile locale
    de la nivelul Sectorului 1, pentru a ajuta publicul să găsească, să descarce și să folosească
    informațiile generate și deținute de structurile administrative locale.
---
<h1>Achiziții publice și anunțuri</h1>

<p>În vederea asigurării transparenței decizionale, contractele de achiziție publică
    sau anunțurile de intenție, participare sau atribuire publică formulate de
    aparatul de specialitate al Primăriei Sectorului 1, de către Compania de Investiții
    și Dezvoltare în Sănătate și Domenii de Interes Public-Privat Sector 1 sunt publicate
    în format electronic.</p>

<p><a href="/achizitii/">Mai multe detalii</a></p>